<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.activemq.consumer.mapper.UserMapper">
    <insert id="insLogin" parameterType="com.demo.activemq.consumer.pojo.Username">
        insert into username
        values (#{username}, #{password}, #{nickname})
    </insert>
</mapper>
